.lead {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
	.lead {
        width: 90%;
		min-width: 928px;
	}
}

@media screen and (min-width: 1280px) {
	.lead {
		max-width: 984px;
	}
}