.cover__overlay {
    width: 100%;
    min-height: 200px;
    display: grid;
    justify-items: center;
    grid-template-rows: min-content;
    gap: 16px;
    background-color: rgba(42, 44, 47, 0.3);
    transition: background-color 0.5s ease;
    text-decoration: none;
    color: white;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (min-width: 768px) {
	.cover__overlay {
        min-height: 480px;
        gap: 32px;
    }
}

@media screen and (min-width: 1024px) {
	.cover__overlay {
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
	.cover__overlay {
        min-height: 740px;
        max-width: 1184px;
    }
}