.cover__title {
    margin: 33px 0 0 0;
    padding: 0;
    width: 90%;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
}

@media screen and (min-width: 768px) {
	.cover__title {
        margin-top: 115px;
        width: 80%;
        max-width: 560px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1024px) {
	.cover__title {
        margin-top: 195px;
        width: 70%;
    }
}

@media screen and (min-width: 1280px) {
	.cover__title {
        margin-top: 245px;
    }
}